/* Container styles */
.firstContainer {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-color: #f7e6d8;
    overflow-y: auto;
    display: flex;
    justify-content: center; /* Horizontally center the content */
  }
  
  .secondContainer {
    width: 50%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  /* General element styling */
  img {
    width: 100%;
    border-radius: 20px;
    display: block;
  }
  
  /* Section specific styles */
  .prep {
    width: 100%;
    background-color: #fff5fc;
    padding: 1vh 0 2vh; /* Consolidate padding values */
  }
  
  .prep h3, h2 {
    padding-left: 4%;
    color: #853f32;
  }
  
  /* List and marker styles */
  li {
    padding: 0.5vh 0;
  }
  
  ol li::marker {
    color: #8a373b;
  }
  
  /* Divider line */
  hr {
    color: #e9e9e9;
    margin: 0 4%; /* Consolidate margins */
    opacity: 0.5;
  }
  
  /* Text styles */
  b {
    color: #605a54;
  }
  
  /* Table styling */
  table {
    width: 100%;
  }
  
  .nut caption {
    font-weight: bold;
    margin-bottom: 2%;
    text-align: left;
    color: #333;
    padding-left: 4%;
  }
  
  td, th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  td {
    color: #8B0000;
    font-weight: bold;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .secondContainer {
      width: 100%; /* Full width on smaller screens */
      padding: 15px; /* Adjust padding for smaller devices */
      border-radius: 10px; /* Smaller border radius for small screens */
    }
  
    .prep h3, h2 {
      padding-left: 2%; /* Reduce padding for smaller screens */
    }
  
    hr {
      margin: 0 2%; /* Adjust margin for smaller screens */
    }
  }
  